<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>GSC Weather Application</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS"
        crossorigin="anonymous">

    <style>
        .jumbotron { 
            background: #00F260;  /* fallback for old browsers */
            background: -webkit-linear-gradient(to left, #0575E6, #00F260);  /* Chrome 10-25, Safari 5.1-6 */
            background: linear-gradient(to left, #0575E6, #00F260); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
            color: white;
        }
    </style>
</head>

<body>
    <div class="container-fluid">
        <div class="jumbotron">
            <div class="display-4">
                Weather Application ⛅
            </div>
            <hr>
            <p class="lead">This application serves as the front-end of the Node.js backend application</p>
        </div>
        <div class="row justify-content-center">
            <div class="col-10">
                <form action="/data" method="get">
                    <label for="address">Enter Address or Zip Code:</label>
                    <input type="text" class="form-control my-2" name="address" placeholder="Dehradun" />
                    <input type="submit" value="Get Weather!" class="btn btn-primary float-right">
                </form>
            </div>
        </div>
    </div>
</body>

</html>